[Server]
RunMode = "debug"   # debug, test, release
HttpPort = "8080"
ReadTimeout = 60
WriteTimeout = 60
ContextTimeout = 60

[App]
DefaultPageSize = 10
MaxPageSize = 100
LogSavePath = "storage/logs"
LogFileName = "app"
LogFileExt = ".log"
UploadSavePath = "storage/uploads"
UploadServerUrl = "localhost:8080/static"
UploadImageMaxSize = 5
UploadImageAllowExts = [".jpg", ".jpeg", ".png"]

[Database]
Address = "127.0.0.1:3306"
Username = "root"
Password = "root"
Database = "blog_service"
Charset = "utf8"
ParseTime = true
MaxIdleConns = 10
MaxOpenConns = 30

[JWT]
Secret = "service_secret"
Issuer = "blog_service"
Expire = 7200

[Email]
Host = "smtp.qq.com"
Port = 465
UserName = "xxxx@qq.com"
Password = "xxxxxxxxx"
IsSSL = true
From = "xxxx@qq.com"
To = ["xxxx@qq.com", "xxxx@qq.com", "xxxx@qq.com"]

[Limiter]
[Limiter.auth]
Key = "/auth"
FillInterval = 1    # FillInterval * time.Second
Capacity = 10
Quantum = 10